//@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700|Source+Serif+Pro:300,400,600,700");

:root {
  // Blogfolio Typography
  --font-body: "Source Serif Pro", serif;
  --font-titles: "Red Hat Display", sans-serif;

  // Blogfolio Colors
  --cherry-black: #1f0a10;
  --cherry-dark: #912d49;
  --cherry: #d9436d;
  --cherry-light: #f2c0ce;
  --cherry-white: #fcf2f5;
  --navy-black: #0e1827;
  --navy-dark: #2e4f83;
  --navy: #4576c5;
  --navy-light: #c1d1ec;
  --navy-white: #f3f6fb;
  --highlighter: #edde1c80;
}
