@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Source+Serif+Pro:400,700|Playfair+Display:700i,900");

.blog-post-content {
  max-width: 60ch;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.3;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;

  h1,
  h2,
  h3,
  p,
  a,
  li,
  em,
  strong,
  figcaption {
    &::selection {
      background: #f7e8a1;
    }
  }

  p strong {
    font-weight: bold;
  }

  img {
    &::selection {
      background: none;
      //border: 2px solid #f7e8a1;
    }
  }

  h1 {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    text-align: left;
    margin-bottom: 8px;
  }
  h2 {
    font-family: "Lato", sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 36px 0 -8px -1.883px;
    text-align: left;
    line-height: 34.5px;
    letter-spacing: -0.45px;
  }
  h3 {
    font-family: "Lato", sans-serif;
    font-size: 21px;
    font-weight: 700;
    padding: 0;
    margin: 26px 0 -8px -1.883px;
    text-align: left;
    line-height: 24.5px;
    letter-spacing: -0.45px;
    color: rgba(0, 0, 0, 0.64);
  }
  p,
  i,
  b,
  a {
    color: rgba(0, 0, 0, 0.84);
    margin-top: 21px;
    font-family: "Source Serif Pro";
    letter-spacing: -0.03px;
    line-height: 1.58;
  }
  a {
    text-decoration: underline;
    &:hover {
      color: rgba(0, 0, 0, 0.54);
    }
    &:visited {
      color: rgba(0, 0, 0, 0.54);
    }
  }
  ul,
  ol {
    margin-top: -12px;
    font-family: "Source Serif Pro";
    letter-spacing: -0.03px;
    line-height: 1.58;
  }
  h2 + ul,
  ol {
    margin-top: 21px;
  }
  .first-letter {
    overflow-wrap: break-word;
    font-family: "Playfair Display", serif;
    font-size: 60px;
    line-height: 60px;
    display: block;
    position: relative;
    float: left;
    margin: 0px 7px 0 -5px;
  }
  .highlighted {
    background: #7dffb3;
  }
  code {
    font-size: 18px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 3px 5px;
  }
  blockquote p {
    font-size: 30px;
    font-style: italic;
    letter-spacing: -0.36px;
    line-height: 44.4px;
    overflow-wrap: break-word;
    margin: 54px 0 40px 0;
    //text-align: center;
    color: rgba(0, 0, 0, 0.54);
    //padding-left: 2%;
    .box {
      //Quote in a old-fashioned box
      margin-left: 0;
      padding: 5px 5px 5px 20px;
      background-color: #f2f2f2;
      border-left: 3px solid rgba(0, 0, 0, 0.1);
    }
  }
  hr {
    border: none;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.84);
    &:after {
      content: " ∙  ∙  ∙ ";
    }
  }
}

.article-header {
  max-width: 60ch;
  padding-bottom: 16px;
  // text-align: center;
  margin: 0 auto;
  h1 {
    // font-size: 36px;
    // font-size: clamp(18px, calc(1rem + 2vw), 36px);
    // margin: 0 auto 6px;
    // max-width: 768px;
    // line-height: 1.3;
    // font-weight: 600;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
  }
  h2 {
    font-family: "Lato", sans-serif;
    color: rgba(0, 0, 0, 0.54);
    margin: 0 0 24px 0;
  }
  .article-metadata {
    font-size: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }
}

article figure {
  margin: 40px 0;
  text-align: center;
  figcaption {
    font-size: var(--font-size-small);
    color: var(--text-color-meta);
    margin-top: 5px;
  }
}

article iframe {
  border: 2px solid black;
  box-sizing: border-box;
}

article img {
  max-width: 100%;
}

.blog-post {
  .featured-image {
    min-height: 50vh;
    border-radius: 12px;
  }
}

/*

Legacy

html,
body {
  margin: 0;
  width: 100%;
}

h1,
h2,
p,
i,
a,
.first-letter,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

h1 {
  // migrated to 'article blockquote'
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-align: left;
  margin-bottom: 8px;
}

h2 {
  // migrated to 'article blockquote'
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 56px 0 -13px -1.883px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
}

p,
i,
a {
  // migrated to 'article blockquote'
  margin-top: 21px;
  font-family: "Lora";
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

a {
  // migrated to 'article blockquote'
  text-decoration: underline;
}

blockquote {
  // migrated to 'article blockquote'
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  // text-align: center;
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

code {
  // migrated to '.blog-post-content'
  font-size: 18px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 3px 5px;
}

.highlighted {
  // migrated to '.blog-post-content'
  background: #7dffb3;
}

.first-letter {
  // migrated to '.blog-post-content'
  overflow-wrap: break-word;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.subtitle {
  // migrated to '.article-header {h2}'
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}


*/
