@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:200,400,700");

.blog-post-content {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.3;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;

  a.anchor {
    //gatsby-remark-autolink-headers
    margin: 0px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    padding-left: 8px;
    // &:hover {
    //   background-color: #ff000022;
    // }
  }

  h1,
  h2,
  h3,
  p,
  a,
  li,
  em,
  strong,
  figcaption {
    &::selection {
      background: #edde1c80;
    }
  }

  // p,
  // a,
  // li,
  // em,
  // figcaption {
  //   font-weight: 300;
  // }
  // b,
  // strong {
  //   font-weight: 600;
  // }

  img {
    &::selection {
      background: none;
      //border: 2px solid #EDDE1C80;
    }
  }

  h1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 36px;
    text-align: left;
    margin-bottom: 8px;
  }
  h2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 36px 0 -8px -1.883px;
    text-align: left;
    line-height: 34.5px;
    letter-spacing: -0.45px;
  }
  h3 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 19px;
    font-weight: 700;
    padding: 0;
    margin: 26px 0 -12px -1.883px;
    text-align: left;
    line-height: 24.5px;
    letter-spacing: -0.45px;
    font-weight: bold;
  }
  p,
  i,
  b,
  a {
    color: rgba(0, 0, 0, 0.84);
    margin-top: 21px;
    font-family: "Source Serif Pro";
    letter-spacing: -0.03px;
    line-height: 1.58;
  }
  a {
    text-decoration: underline;
    &:hover {
      //font-weight: bold;
      text-decoration: none;
      color: #d9436d;
    }
    &:visited {
      //color: rgba(0, 0, 0, 0.54);
      //color: #d9436d;
      text-decoration: underline;
    }
  }
  ul,
  ol {
    margin-top: -12px;
    font-family: "Source Serif Pro";
    letter-spacing: -0.03px;
    line-height: 1.6;
  }
  h2 + ul,
  h3 + ul,
  ol {
    margin-top: 21px;
  }
  .first-letter {
    overflow-wrap: break-word;
    font-family: "Source Serif Pro", serif;
    font-size: 60px;
    line-height: 60px;
    display: block;
    position: relative;
    float: left;
    margin: 0px 7px 0 -5px;
  }
  .highlighted {
    background: #edde1c80;
  }
  code {
    font-size: 18px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 3px 5px;
  }
  blockquote p {
    font-size: 30px;
    font-style: italic;
    letter-spacing: -0.36px;
    line-height: 44px;
    overflow-wrap: break-word;
    margin: 54px 0 40px 0;
    //text-align: center;
    color: rgba(0, 0, 0, 0.54);
    //padding-left: 2%;
    .box {
      //Quote in a old-fashioned box
      margin-left: 0;
      padding: 5px 5px 5px 20px;
      background-color: #c1d1ec;
      border-left: 3px solid rgba(0, 0, 0, 0.1);
    }
  }
  hr {
    border: none;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.84);
    &:after {
      content: " ∙  ∙  ∙ ";
    }
  }
}

.article-header {
  //max-width: 680px;
  max-width: 66ch;
  padding-bottom: 16px;
  //text-align: center;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  h1 {
    //font-size: clamp(18px, calc(1rem + 2vw), 36px);
    margin: 0 auto 8px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Source Serif Pro", serif;
    font-size: 48px;
    text-align: left;
  }
  h2 {
    font-family: "Red Hat Display", sans-serif;
    color: rgba(0, 0, 0, 0.54);
    margin: 0 0 24px 0;
  }
  .article-metadata {
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }
}

article figure {
  margin: 40px 0;
  text-align: center;
  figcaption {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
  }
}

article iframe {
  border: 2px solid black;
  box-sizing: border-box;
}

article img {
  max-width: 100%;
}

.blog-post {
  .featured-image {
    min-height: 50vh;
    border-radius: 12px;
  }
}
