// Mobile readability
@media (max-width: $breakpoint-sm) {
  .blog-post-content {
    padding: 0px;
    font-size: 19px;
  }
  .post-card .featured-image {
    min-height: 300px;
  }

  blockquote p {
    font-size: 26px !important;
    margin-right: 0;
  }
}
