// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  --font-family: Source Serif Pro, serif;
  --font-family-mono: Menlo, Consolas, monospace;
  --font-size-small: 12px;

  --primary-color: #1d1d1b; // 5C2941
  --header-bg: #ffffff; // Header 5C2941
  --footer-white: #fbfbfb; // Contrast for #1A

  --home-link-color: #1d1d1b; // Links a1613f
  --home-link-hover-color: #000000; // Hovering Links var(--primary-color);

  --button-color: #ffffff; // Hovering button & Button text e5c3d3
  --button-alternate-color: #000000; // Button & Text hovered 5C2941

  --post-link-color: #0f070b;

  --nav-link-hover-bg: rgba(0, 0, 0, 0.8); // Mobile menu items
  --text-color-meta: rgba(0, 0, 0, 0.5); // Image Metadata

  --label-text: rgba(0, 0, 0, 0.5); // Form labels
  --input-focus-border: #f0f0f0; //Input selected

  // CSS Grid Utility
  --grid-gap: 30px;
}
