@import "theme-variables";
@import "defaults";
@import "lib/css-grid-utility";
@import "readable";
@import "global-site";

// Home
.home-banner {
  padding: 1em 0;
  align-items: center;
  .title {
    font-family: "Source Serif Pro", serif;
    font-size: 48px;
    line-height: 64px;
    margin: 0 0 5px;
    font-weight: 700;
  }
  .tagline {
    font-family: "Red Hat Display", sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    margin-top: 4px;
  }
  .description {
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.84);
    margin-top: 21px;
    font-family: "Source Serif Pro";
    letter-spacing: -0.03px;
    line-height: 1.58;
    font-size: 21px;
    text-rendering: optimizeLegibility;
  }
  .featured-image {
    border-radius: 12px;
  }
  @media (max-width: $breakpoint-md) {
    padding-top: 12px;
    > div:nth-child(1) {
      padding-bottom: 4px;
    }
    .title {
      font-size: 40px;
      line-height: 52px;
    }
  }
}
.home-bio {
  // padding-left: 40px;
}
.home-posts {
  margin: 2em auto;
  .grids {
    margin-bottom: 2em;
  }
  .category {
    font-family: "Red Hat Display", sans-serif;
    font-size: 32px;
    text-align: left;
    margin-top: 64px; //40px;
    margin-bottom: 36px; //24px;
  }
}
.post-card {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: box-shadow 0.4s linear;
  .featured-image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    img {
      display: block;
      margin: 0;
    }
  }
  .post-title {
    margin: 0 0 8px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.84);
    font-family: "Source Serif Pro";
    letter-spacing: -0.03px;
    font-weight: 500;
    a {
      color: var(--post-link-color);
    }
  }
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    .title {
      color: var(--button-alternate-color);
    }
    h2 {
      text-decoration: underline;
    }
  }
  .post-description {
    font-size: 18px;
    margin-top: 12px;
    padding: 0px;
  }
  .post-meta {
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    margin-top: 12px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  .post-content {
    padding: 16px;
  }
  @media (max-width: $breakpoint-md) {
    padding: 0;
    .post-content {
      padding: 16px;
      margin-top: 0;
    }
    .featured-image {
      border-radius: 12px 12px 0 0;
    }
  }
}

// Buttons
.button {
  --padding: 12px;
  --margin: 5px;
  font-family: "Red Hat Display";
  display: inline-flex;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 2);
  background-color: #1d1d1b;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  appearance: none;
  border: 1px solid #1d1d1b;
  font-size: inherit;
  line-height: 1;
  transition: background 0.3s linear;
  &:hover {
    background-color: #fff;
    color: #1d1d1b;
  }
  &.-outline {
    color: var(--primary-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    background: #fff;
    &:hover {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
      background: #f2f2f2;
    }
  }
  & + .button {
    margin-left: 20px;
  }
  .icon {
    display: inline-flex;
    &.-right {
      margin-left: var(--margin);
    }
    &.-left {
      margin-right: var(--margin);
    }
  }
  &.-banner {
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 8px;
    &:hover {
      background-color: #fff;
      color: var(--primary-color);
    }
    @media (max-width: $breakpoint-sm) {
      font-size: 12pt;
    }
    @media (max-width: 375px) {
      font-size: 10pt;
    }
    // @media (min-width: $breakpoint-xl) {
    //   font-size: 12pt;
    // }
    .label {
      display: inline-flex;
      font-size: 28px;
      padding-right: 8px;
      // @media (max-width: $breakpoint-sm) {
      //   display: none;
      // }
    }
  }
}

// Page
.page,
.blog-page,
.not-found-page {
  padding: 0 20px;
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}

// Pagination
.pagination {
  text-align: center;
  padding: 50px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 1;
    &.is-active {
      color: var(--header-bg);
      pointer-events: none;
    }
  }
  &.-post {
    text-align: inherit;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 50px 0 0;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li:nth-child(1) {
      text-align: left;
    }
    li:nth-child(2) {
      text-align: right;
    }
    p {
      font-size: 14px;
      margin: 0 0 5px;
      color: rgba(0, 0, 0, 0.5);
    }
    a {
      font-weight: normal;
      font-size: 16px;
      padding: 0;
    }
    .page-title {
      line-height: 1.3;
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 50px 0 ul {
      display: flex;
      justify-content: space-between;
    }
    &.-post ul {
      display: grid;
      justify-content: normal;
      a {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        margin-bottom: 10px;
        background: #fafafa;
      }
    }
    .num {
      display: none;
    }
  }
}

@media (max-width: 375px) {
  .feature-image-post div,
  .feature-image-post img {
    display: none !important;
  }
  .feature-image-post picture img {
    display: block !important;
    position: relative !important;
    height: 250px !important;
    object-fit: cover !important;
    object-position: 40% 50% !important;
  }
}

// Libraries
@import "lib/prism-default";
@import "readable-mobile";
@import "utility";
