@import "theme-variables";
@import "defaults";
@import "lib/css-grid-utility";
@import "readable";
@import "readable-mobile";

//TODO: Legacy comment
// .primary-container {
// 	display: grid;
// 	grid-template-rows: 60px auto 60px;
// 	min-height: 100vh;
// }
.primary-container main {
  min-height: calc(100vh - 60px - 81px);
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--header-bg);
  padding: 30px 20px 0px 20px;
}
.site-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin-left: 20px;
  }
  a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    &:hover {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  a[aria-current="page"] {
    color: rgba(0, 0, 0, 1);
  }
  .menu-trigger {
    display: none;
    font-size: 36px;
    background: none;
    border: none;
    color: #1a1a1a;
    padding: 0;
    cursor: pointer;
  }
  @media (max-width: $breakpoint-lg) {
    .menu-trigger,
    .icon-menu-line {
      display: flex;
    }

    .icon-menu-close {
      display: none;
    }
    .menu-trigger.is-active {
      .icon-menu-line {
        display: none;
      }
      .icon-menu-close {
        display: flex;
      }
    }
    .menu-trigger.is-active + ul {
      display: block;
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 1;
      background: rgba(255, 255, 255, 0.8); //421E2F
      width: 100%;
      max-width: 100%; //320px;
      border-radius: 0 0 12px 12px;
      overflow: hidden;
    }
    ul li {
      display: block;
      margin-left: 0;
      font-size: 24px;
      font-weight: normal;
      text-align: center;
    }
    a {
      display: block;
      padding: 20px;
      color: #1a1a1a;
    }
    a:hover {
      background-color: #1a1a1a; //29121d
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}
.site-logo {
  //TODO: Restore if logo is text
  // font-weight: bold;
  // a {
  //   color: #fff;
  //   text-decoration: none;
  //   &:hover {
  //     color: #fff;
  //   }
  // }
  // @media (max-width: $breakpoint-lg) {
  //   font-size: 20px;
  // }

  img {
    width: 50%;
    @media (max-width: $breakpoint-sm) {
      width: 65%;
    }
    @media (max-width: 375px) {
      width: 85%;
    }
  }
}
.home-banner {
  padding: 60px 0;
  align-items: center;
  .title {
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 5px;
    font-weight: 900;
  }
  .tagline {
    font-size: 24px;
    margin-top: 0;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.7);
  }
  .description {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .featured-image {
    border-radius: 12px;
  }
  @media (max-width: $breakpoint-md) {
    padding-top: 30px;
    > div:nth-child(1) {
      padding-bottom: 30px;
    }
  }
}
.home-posts {
  .grids {
    padding-bottom: 30px;
  }
  padding-bottom: 100px;
}
.post-card {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: box-shadow 0.4s linear;
  .featured-image {
    border-radius: 12px;
    img {
      display: block;
      margin: 0;
    }
  }
  .title {
    margin: 0 0 3px;
    font-size: 20px;
    font-weight: 600;
    a {
      color: var(--post-link-color);
    }
  }
  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
    .title {
      color: var(--button-alternate-color);
    }
  }
  .meta {
    margin: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
  }
  .post-content {
    margin-top: 16px;
  }
  @media (max-width: $breakpoint-md) {
    padding: 0;
    .post-content {
      padding: 16px;
      margin-top: 0;
    }
    .featured-image {
      border-radius: 12px 12px 0 0;
    }
  }
}

// Buttons
.button {
  --padding: 12px;
  --margin: 16px;
  display: inline-flex;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 2);
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 12px;
  text-decoration: none;
  appearance: none;
  border: none;
  font-size: inherit;
  line-height: 1;
  transition: background 0.3s linear;
  &:hover {
    background-color: #fff;
    color: #1a1a1a;
  }
  &.-outline {
    color: var(--primary-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    background: #fff;
    &:hover {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
      background: #f2f2f2;
    }
  }
  & + .button {
    margin-left: 20px;
  }
  .icon {
    display: inline-flex;
    &.-right {
      margin-left: var(--margin);
    }
    &.-left {
      margin-right: var(--margin);
    }
  }
  &.-banner {
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 8px;
    &:hover {
      background-color: #fff;
      color: var(--primary-color);
    }
    @media (max-width: $breakpoint-sm) {
      font-size: 12pt;
    }
    @media (max-width: 375px) {
      font-size: 10pt;
    }
    // @media (min-width: $breakpoint-xl) {
    //   font-size: 12pt;
    // }
    .label {
      display: inline-flex;
      font-size: 28px;
      padding-right: 8px;
      // @media (max-width: $breakpoint-sm) {
      //   display: none;
      // }
    }
  }
}

// Page
.page,
.blog-page,
.contact-page,
.thanks-page,
.not-found-page {
  padding: 50px 20px;
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}
// Contact page
.contact-page {
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .description {
    line-height: 1.5;
  }
}
.contact-form {
  margin-top: 36px;
  label {
    color: var(--label-text);
  }
  input,
  textarea {
    width: 100%;
    max-width: 100%;
    margin: 8px 0 16px;
    padding: 16px;
    border: 6px solid #a4a89760;
    border-radius: 12px;
    appearance: none;
    font-size: 18px;
    font-weight: 600;
    &:focus {
      border-color: var(--input-focus-border);
    }
  }
  textarea {
    min-height: 200px;
  }
}
.site-footer {
  display: flex;
  //align-items: center;
  background: #1a1a1a;
  //text-align: center;
  font-size: 16px;
  padding: 16px 0;
  h3,
  p {
    margin: 0;
    color: #eee;
  }
  a {
    font-size: 48px;
    color: #eee;
    font-weight: lighter;
  }
  svg {
    padding: 8px;
  }
}

.pagination {
  text-align: center;
  padding: 50px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 1;
    &.is-active {
      color: var(--header-bg);
      pointer-events: none;
    }
  }
  &.-post {
    text-align: inherit;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 50px 0 0;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li:nth-child(1) {
      text-align: left;
    }
    li:nth-child(2) {
      text-align: right;
    }
    p {
      font-size: 14px;
      margin: 0 0 5px;
      color: rgba(0, 0, 0, 0.5);
    }
    a {
      font-weight: normal;
      font-size: 16px;
      padding: 0;
    }
    .page-title {
      line-height: 1.3;
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 50px 0 ul {
      display: flex;
      justify-content: space-between;
    }
    &.-post ul {
      display: grid;
      justify-content: normal;
      a {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        margin-bottom: 10px;
        background: #fafafa;
      }
    }
    .num {
      display: none;
    }
  }
}

@import "utility";

// Libraries
@import "lib/prism-default";
